<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        <script>
            var scheme = "ws";
            var loc_obj = document.location;
            if (loc_obj.protocol === "https:") { scheme += "s"; }

            var client_id = Date.now()
            document.querySelector("#ws-id").textContent = client_id;

            serverUrl = `${scheme}://${loc_obj.hostname}:${loc_obj.port}/chat/{{ chat_id }}/client/${client_id}`;
            var ws = new WebSocket(serverUrl);

            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>