<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Chat app</h1>
        <a href="{{ url_for('create_chat') }}">Create chat room</a>
    </body>
</html>